.area-main{
    margin: auto;
    margin-top: 10px;
    width: 30%;
    border: 1px solid black;
    border-radius: 9px;
    padding: 5px;
    background-color: white;
}

.title-ip{
    outline: none;
}

body{
    background-color: rgb(247, 243, 239);
}

.note{
    width: 20%;
    /* border: 2px solid black; */
    border-radius: 5px;
    margin: 30px 20px;
    background-color: white;
    padding: 10px;
}

.note-area-btn{
    display: flex;
    justify-content: center;
}

*{
    box-sizing: border-box;
}

.note-title {
    word-wrap: break-word;
  }

.note-para{
    height: auto;
    word-wrap: break-word;
    width: auto;
    overflow-y: auto;
    max-height: 200px;
}

.notes-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
  }

.footer-div{
    text-align: center;
    width: 100%;
    position:fixed;
    left: 0;
    bottom: 0;
    font-size: 20px;
}

.note-main{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}